fastapi
google-genai
langchain==0.2.16
langchain-core==0.2.39
langchain-google-genai==1.0.8
openai
openmeteo-requests
pandas
pydantic
python-dotenv
python-multipart
requests-cache
retry-requests
uvicorn
